.todolist-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
  
.btn-logout {
    color: black;
    background-color: yellow;
    font-weight: bold;
    text-align: center; 
    border: none;
    cursor: pointer;
    margin: 20px 0px -15px 0px;
}

.btn-cpt {
    color: black;
    background-color: green;
    font-weight: bold;
    text-align: center; 
    border: none;
    cursor: pointer;
}

.btn-dlt {
    color: black;
    background-color: red;
    font-weight: bold;
    text-align: center; 
    border: none;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}  
